.filter-container {
    position: fixed;
    min-height: calc(100vh - 7rem);
    background-color: white;
    margin-top: 7rem;
    border: none;
    padding: 1rem;
}

.product-main {
    margin-top: 7rem;
    margin-left: 20rem;
    padding-top: 2rem;
}